/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
package-lock.json
composer.lock
/public/uploads/image/banners/*
/public/uploads/image/categories/*
/public/uploads/image/main_headers/*
/public/uploads/image/post_galleries/*
/public/uploads/image/posts/*
