@import "config";
@import "~lightbox2/dist/css/lightbox.min.css";
// CUSTOM USER STYLES & IMPORTS

.header {
    background-color: $purple;
    padding: 20px 0 30px;
    min-height: 140px;
    display: flex;
    align-items: flex-end;
    @media only screen and (max-width: 767px) {
        min-height: 100px;
        align-items: center;
        padding: 20px 0;
    }
    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media only screen and (max-width: 767px) {
            align-items: center;
        }
    }
    &__left {
        max-width: 320px;
        margin-right: 15px;
        @media only screen and (max-width: 767px) {
            margin-right: 30px;
        }
        @media only screen and (max-width: 374px) {
            margin-right: 10px;
        }
    }

    &__right {
        @media only screen and (max-width: 767px) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex: 1;
        }

    }

    &__nav {
        display: flex;
        align-items: center;
        position: relative;
    }
    &.header-info {
        display: block;
        padding: 15px 0;
    }
    &__top-info {
        display: flex;
        align-items: center;
        border-bottom: 2px solid #FFFAFA;
        width: 100%;
        color: #ffffff;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 23px;
        padding-bottom: 15px;
        @media only screen and (max-width: 767px) {
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
        p {
            margin-bottom: 0;
        }
        a {
            color: #fcd507;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    &__info-icon {
        display: flex;
        align-items: center;
        margin-right: 25px;
        min-width: 30px;
        @media only screen and (max-width: 767px) {
            margin-right: 15px;
        }
    }
}

.site-logo {
    display: flex;
    align-items: center;
    position: relative;
    &:hover {
        opacity: 0.6;
    }
    &.desktop {
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }
    &.mobile {
        display: none;
        @media only screen and (max-width: 991px) {
            display: flex;
        }
    }
}

.lang-lists {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 15 / 13 * 100%;
    color: #FFFFFF;
    justify-content: flex-end;
    margin-bottom: 17px;
    @media only screen and (max-width: 767px) {
        font-size: 18px;
        justify-content: center;
        margin-bottom: 49px;
    }
    li {
        margin-left: 10px;
        transition: 0.3s;
        @media only screen and (max-width: 767px) {
            margin: 0 15px;
        }
        &.active {
            font-weight: 700;
            &:hover {
                opacity: 1;
            }
        }
        &:hover {
            opacity: 0.6;
        }
        a {
            color: #FFFFFF;
        }
    }
}

.mob-menu-close {
    display: none;
    align-items: center;
    position: absolute;
    right: 18px;
    top: 40px;
    @media only screen and (max-width: 767px) {
        display: flex;
    }
}

.mob-menu-open {
    min-width: 30px;
    display: none;
    align-items: center;
    @media only screen and (max-width: 767px) {
        display: flex;
    }
}

.main-menu {
    position: relative;
    z-index: 2;
    padding-right: 36px;
    @media only screen and (max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
        height: calc((var(--vh, 1vh) * 100));
        background-color: $purple;
        width: 100%;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 9;
        transition: 0.3s;
        transform: translateX(100%);
    }
    .site-logo {
        display: none;
        @media only screen and (max-width: 767px) {
            display: inline-block;
            top: 25px;
            left: 20px;
            width: 58px;
        }
    }
    &.active {
        transform: translateX(0);
    }
    &__inner {
        @media only screen and (max-width: 767px) {
            overflow-y: auto;
            height: calc(100vh - 100px);
            height: calc((var(--vh, 1vh) * 100) - 100px);
            position: absolute;
            top: 100px;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    ul:not(.lang-lists) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media only screen and (max-width: 767px) {
            display: block;
            text-align: center;
            padding-top: 75px;
        }
        @media only screen and (max-width: 374px) {
            padding-top: 0;
        }
        li {
            margin-right: 10px;
            position: relative;
            @media only screen and (max-width: 767px) {
                margin-right: 0;
                margin-bottom: 30px;
                padding: 0 13px;
            }
            @media only screen and (max-width: 374px) {
                margin-bottom: 15px;
            }
            &:last-child {
                margin-right: 0;
            }
            &.active {
                >a {
                    font-weight: 700;
                }
            }
            a,
            .sub-menu-more {
                font-size: 15px;
                line-height: 18 / 15 * 100%;
                text-align: center;
                color: #FFFFFF;
                display: inline-block;
                padding: 9px 18px;
                cursor: pointer;
                transition: 0.3s;
                @media only screen and (max-width: 767px) {
                    font-size: 18px;
                    display: block;
                    padding: 13px 18px;
                }
                &:hover {
                    opacity: 0.6;
                }
            }
            .sub-menu-dropdown {
                transition: 0.3s;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-100%);
                width: 182px;
                position: absolute;
                z-index: 5;
                top: calc(100% + 10px);
                left: 0;
                background: #FFFFFF;
                box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
                display: block;
                padding: 20px 0;
                @media only screen and (max-width: 1199px) {
                    width: 160px;
                }
                @media only screen and (max-width: 767px) {
                    width: 100%;
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 7.5px 7px 7.5px;
                    border-color: transparent transparent #ffffff transparent;
                    top: -7px;
                    left: 32px;
                    @media only screen and (max-width: 767px) {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                li {
                    margin-right: 0;
                    margin-bottom: 0;
                    a {
                        color: #000000;
                        padding: 11px 30px;
                        display: block;
                        text-align: left;
                        @media only screen and (max-width: 1199px) {
                            padding: 11px 20px;
                        }
                    }
                }
            }
            &.sub-menu-item {
                &.active {
                    .sub-menu-more {
                        opacity: 0.6;
                    }

                    .sub-menu-dropdown {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }

            }
        }
    }
}



.header-search {
    position: absolute;
    right: 0;
    transition: 0.2s;
    z-index: 2;
    width: 36px;
    @media only screen and (max-width: 767px) {
        position: relative;
        margin-right: 33px;
    }
    @media only screen and (max-width: 374px) {
        margin-right: 10px;
    }
    &.active {
        width: 100%;
        input {
            opacity: 1;
            padding: 0 10px;
            visibility: visible;
        }
        .header-search__icon {
            opacity: 0;
            visibility: hidden;
        }
    }
    input {
        border: 0;
        padding: 0;
        background-color: #fff;
        appearance: none;
        font-size: 15px;
        font-family: $mainfont;
        font-weight: 400;
        opacity: 0;
        width: 100%;
        visibility: hidden;
        transition: 0.2s;
        height: 36px;
    }
    &__icon {
        display: flex;
        align-items: center;
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        width: 36px;
        height: 36px;
        justify-content: center;
        z-index: 2;
        transition: 0.2s;
        @media only screen and (max-width: 767px) {
            right: 0;
        }
        img {
            @media only screen and (min-width: 768px) {
                max-width: 16px;
            }
        }
        &:hover {
            opacity: 0.6;
        }
    }
}



.s-top-intro {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 448px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 75px;
    position: relative;
    @media only screen and (max-width: 1199px) {
        min-height: 448px;
    }
    @media only screen and (max-width: 767px) {
        min-height: 207px;
        padding: 30px 0 70px;
    }
    .container {
        position: relative;
    }
    &.s-top-intro-homepage {
        @media only screen and (max-width: 1199px) {
            min-height: 590px;
        }
        @media only screen and (max-width: 575px) {
            min-height: 260px;
        }
        &::before {
            display: none;
        }
        .main-title-wrap {
            padding: 70px 0;
        }
    }
    &::before {
        content: '';
        background: linear-gradient(0deg, rgba(17, 17, 41, 0.3), rgba(17, 17, 41, 0.3));
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .main-title-wrap {
        padding: 55px 0;
        @media only screen and (max-width: 767px) {
            padding: 30px 0;
        }
    }
}

.full-height {
    min-height: calc(100vh - 140px);
    padding-bottom: 40px;
    @media only screen and (max-width: 1199px) {
        min-height: 448px;
    }
    @media only screen and (max-width: 767px) {
        min-height: 207px;
    }
}

.main-title-wrap {
    max-width: 1090px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 10px;
    text-align: center;
    border-top: 3px dotted #FFFFFF;
    border-bottom: 3px dotted #FFFFFF;
    position: relative;
    @media only screen and (max-width: 1660px) {
        max-width: 800px;
    }
    @media only screen and (max-width: 767px) {
        padding: 60px 0;
    }
}

.post-tag {
    position: relative;
    z-index: 1;
    display: inline-block;
    top: 16px;
    left: 50%;
    max-width: 95%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 15px;
    line-height: 18 / 15 * 100%;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 14px;
    background-color: $purple;
    @media only screen and (max-width: 767px) {
        font-size: 14px;
    }
    &.green {
        background-color: #8DC63F;
    }
}

.main-title {
    text-align: center;
    font-size: 92px;
    font-weight: 400;
    line-height: 108 / 92 * 100%;
    color: #FFFFFF;
    @media only screen and (max-width: 1199px) {
        font-size: 78px;
    }
    @media only screen and (max-width: 767px) {
        font-size: 36px;
    }
    &.md-title {
        font-size: 56px;
        line-height: 66 / 56 * 100%;
        @media only screen and (max-width: 1199px) {
            font-size: 50px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 26px;
        }
    }
}

.post-date {
    text-align: center;
    font-size: 14px;
    line-height: 16 / 14 * 100%;
    color: #FFFFFF;
    margin-top: 24px;
    @media only screen and (max-width: 767px) {
        margin-top: 7px;
    }
}


.s-homepage {
    padding: 80px 0 110px;
    @media only screen and (max-width: 767px) {
        padding: 60px 0 110px;
    }
    @media only screen and (max-width: 374px) {
        padding-bottom: 30px;
    }
    &__text-intro {
        max-width: 960px;
        width: 100%;
        margin: 0 auto 80px;
        font-size: 28px;
        line-height: 42 / 28 * 100%;
        text-align: center;
        @media only screen and (max-width: 767px) {
            font-size: 18px;
            margin-bottom: 40px;
        }
    }
}

.card-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    @media only screen and (max-width: 767px) {
        margin: 0;
    }
}

.card-item {
    position: relative;
    width: calc(33.3333% - 30px);
    margin: 0 15px 30px;
    background: #FFFFFF;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    color: black;
    @media only screen and (max-width: 991px) {
        width: calc(50% - 30px);
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
        margin: 0 0 30px;
    }
    &:hover {
        box-shadow: 0 6px 48px rgba(0, 0, 0, 0.3);
        .card-item__arrow {
            animation: arrowMove 1s forwards infinite;
        }
    }
    &.card-item-home {
        display: block;
        .card-item__top {
            height: 385px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            @media only screen and (max-width: 1660px) {
                height: 254px;
                padding: 2px;
            }
            img {
                max-height: 100%;
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
        .card-item__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 34px 30px;
            flex-direction: row;
        }

        .card-item__arrow {
            margin-top: 0;
            width: auto;
        }

        .card-item__title {
            max-width: 360px;
            width: 100%;
            margin-right: 10px;
            flex: 1;
            margin-bottom: 0;
            @media only screen and (max-width: 991px) {
                margin-right: 16px;
            }
            br {
                @media only screen and (max-width: 1199px) {
                    display: none;
                }
            }
        }

        &:nth-child(1) {
            .card-item__top {
                //background-color: #00B8D4;
            }
            .card-item__title {
                color: #00b8d4;
            }
        }
        &:nth-child(2) {
            .card-item__top {
                //background-color: #FAA61A;
            }

            .card-item__title {
                color: #FAA61A;
            }
        }
        &:nth-child(3) {
            .card-item__top {
                //background-color: #EF4E6E;
            }

            .card-item__title {
                color: #EF4E6E;
            }
        }
        &:nth-child(4) {
            .card-item__top {
                //background-color: #8DC63F;
            }

            .card-item__title {
                color:#8DC63F;
            }
        }
        &:nth-child(5) {
            .card-item__top {
                //background-color: #8781BD;
            }

            .card-item__title {
                color: #8781BD;
            }
        }
        &:nth-child(6) {
            .card-item__top {
                //background-color: #ED1D24;
            }

            .card-item__title {
                color: #ED1D24;
            }
        }
    }
    &__top {
        height: 394px;
        overflow: hidden;
        position: relative;
        @media only screen and (max-width: 1660px) {
            height: 254px;
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            object-position: center;
        }
    }

    &__label {
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 20px;
        line-height: 18 / 15 * 100%;
        color: #000000;
        &.green {
            color: #8DC63F;
        }
        &.red {
            color: #EF4E6E;
        }
        &.red-dark {
            color: #ED1D24;
        }
        &.orange {
            color: #FAA61A;
        }
        &.purple {
            color: #8781BD;
        }
        &.blue {
            color: #00B7D4;
        }
    }

    &__descr {
        font-size: 15px;
        line-height: 22 / 15 * 100%;
        color: #000000;
        margin-bottom: 18px;
    }

    &__date {
        font-size: 14px;
        line-height: 16 / 14 * 100%;
        color: #B3B3B3;
        margin-bottom: 20px;
    }

    img {
        transition: 0.3s;
    }

    &__bottom {
        flex: 1;
        padding: 24px 30px 30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media only screen and (max-width: 1660px) {
            padding-top: 30px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 28 / 22 * 100%;
        color: #000000;
        margin-bottom: 14px;
    }

    &__arrow {
        display: flex;
        align-items: center;
        min-width: 29px;
        transition: 0.3s;
        width: 100%;
        justify-content: flex-end;
    }
}


.s-search {
    padding: 50px 0 110px;
}

.page-search {
    background: #FFFFFF;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -86px;
    @media only screen and (max-width: 767px) {
        display: block;
        box-shadow: none;
        margin-top: -82px;
    }
}

.search-main {
    background-color: #fff;
    border-right: 1px solid #D4D4E7;
    position: relative;
    flex: 1;
    @media only screen and (max-width: 767px) {
        border-right: 0;
        margin-bottom: 1px;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    }
    &__icon {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translateY(-50%);
    }
    input {
        padding: 26px 22px 26px 58px;
        border: 0;
        font-size: 18px;
        font-weight: 400;
        font-family: $mainfont;
        color: #000000;
        width: 90%;
        background-color: #fff;
        @media only screen and (max-width: 767px) {
            padding: 20px 22px 20px 58px;
        }
    }
    &__search-button{
        position: absolute;
        right: 3%;
        top: 34%;
        z-index: 50;
        cursor: pointer;
    }
}

.country-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 33 / 28 * 100%;
    color: #000000;
}

.close-country-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 36px;
    height: 36px;
    justify-content: center;
}

.select-country {
    flex: 0 0 389px;
    background-color: #fff;
    @media only screen and (max-width: 1660px) {
        flex: 0 0 349px;
    }
    @media only screen and (max-width: 991px) {
        flex: 0 0 256px;
    }
    @media only screen and (max-width: 767px) {
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    }
    &.active {
        .select-country__dropdown {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
        .select-country__item-arrow {
            transform: rotate(180deg);
        }
    }
    &__dropdown-mobile {
        display: none;
        padding: 23px 12px 10px 20px;
        position: relative;
        justify-content: space-between;
        align-items: center;
        height: 85px;
        @media only screen and (max-width: 767px) {
            display: flex;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        cursor: pointer;
        padding-right: 32px;
        background-color: #fff;
        @media only screen and (max-width: 991px) {
            padding-right: 25px;
        }
        &.selected {
            .select-country__item-remove {
                opacity: 1;
                visibility: visible;
                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    &__item-icon {
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 24px;
        transform: translateY(-50%);
    }

    &__item-right {
        display: flex;
        align-items: center;
    }

    &__item-remove,
    &__item-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__item-remove {
        margin-right: 20px;
        min-width: 20px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        @media only screen and (max-width: 991px) {
            margin-right: 10px;
        }
    }

    &__item-arrow {
        min-width: 16px;
        width: 16px;
        height: 16px;
        transition: 0.3s;
    }

    &__dropdown {
        //delete 'display: none' for activate dropdown
        //display: none;
        position: absolute;
        z-index: 9;
        top: calc(100% + 1px);
        width: 100%;
        left: 0;
        background: #FFFFFF;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
        padding: 15px 20px 15px 20px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        transform: translateY(100px);
        @media only screen and (max-width: 767px) {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            transform: translateY(0);
            z-index: 99;
            padding: 0;
        }
    }

    &__dropdown-items {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        @media only screen and (max-width: 767px) {
            height: calc(100vh - 85px);
            height: calc((var(--vh, 1vh) * 100) - 85px);
            overflow-y: auto;
            display: block;
        }
    }

    &__dropdown-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 40%;
        @media only screen and (max-width: 991px) {
            width: 33.3333%;
        }
        @media only screen and (max-width: 767px) {
            width: 100%;
        }
        &:last-child {
            width: 20%;
            @media only screen and (max-width: 991px) {
                width: 33.3333%;
            }
            @media only screen and (max-width: 767px) {
                width: 100%;
            }
            .select-country__lists {
                width: 100%;
            }
        }
    }

    &__lists {
        width: 50%;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 991px) {
            width: 100%;
        }
    }

    &__lists-item {
        width: 20%;
        @media only screen and (max-width: 991px) {
            width: 33.3333%;
        }
        @media only screen and (max-width: 767px) {
            width: 100%;
        }
        a {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 10px 30px 10px 10px;
            transition: 0.3s;
            position: relative;
            color: #000000;
            @media only screen and (max-width: 767px) {
                padding: 12px 40px 12px 20px;
            }
        }

        &:hover {
            background-color: #F4F4F4;
        }
        .check-icon {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            @media only screen and (max-width: 767px) {
                right: 20px;
            }
        }
        &.selected {
            background-color: #F4F4F4;
            .check-icon {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}


.select-country-value {
    padding: 26px 22px 26px 58px;
    border: 0;
    font-size: 18px;
    font-weight: 400;
    font-family: $mainfont;
    color: #000000;
    background-color: #fff;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    appearance: none;
    opacity: 1;
    pointer-events: none;
    @media only screen and (max-width: 991px) {
        padding-right: 10px;
    }
    @media only screen and (max-width: 767px) {
        padding: 20px 22px 20px 58px;
    }
}

.flag-img {
    width: 21px;
    min-width: 21px;
    margin-right: 12px;
    display: flex;
    align-items: center;
}

.country-name {
    font-size: 16px;
    line-height: 18px;
    font-family: $fonttwo;
    font-weight: 400;
    @media only screen and (max-width: 1660px) {
        font-size: 15px;
    }
}

.search-info {
    display: flex;
    align-items: flex-start;
    font-size: 13px;
    line-height: 22 / 13 * 100%;
    color: #B3B3B3;
    margin-top: 10px;
    margin-bottom: 40px;
    &__icon {
        display: flex;
        min-width: 11px;
        align-items: center;
        margin-right: 8px;
        margin-top: 5px;
    }
    p {
        margin-bottom: 0;
    }
}

.business-area {
    max-width: 500px;
    width: 100%;
    &__label {
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: #D4D4E7;
        margin-bottom: 10px;
    }
}

.select {
    position: relative;
    &.active {
        .select-options {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
        .select-input__arrow {
            transform: translateY(-50%) rotate(180deg);
        }
    }
}

.select-input {
    background: #FFFFFF;
    border: 1px solid #D4D4E7;
    height: 42px;
    display: flex;
    align-items: center;
    padding: 5px 40px 5px 15px;
    position: relative;
    cursor: pointer;
    &__value {
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
            margin-left: 13px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__arrow {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
    }
}

.select-options {
    background: #FFFFFF;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 9;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 10px 0;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    overflow-y: auto;
    max-height: 335px;
}

.select-option {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 22 / 15 * 100%;
    color: #000000;
    cursor: pointer;
    padding: 9px 15px;
    &.selected {
        background: #F4F4F4;
    }
    &:hover {
        background: #F4F4F4;
    }
    span {
        margin-left: 13px;
    }
    a {
        text-decoration: none;
        color: #000000;
        font-weight: 700;
        @media only screen and (min-width: 991px) {
            font-weight: inherit;
        }
    }
}

.result-wrap {
    margin-top: 80px;
}

.result-top {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    &__left {
        margin-right: 5px;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: -7px;
    }

    .lang-items-wrap {
        @media only screen and (max-width: 767px) {
            width: 100%;
            margin-left: 0;
            margin-top: 30px;
        }
    }
}

.result-info {
    display: flex;
    align-items: flex-end;
    &__title {
        font-size: 32px;
        line-height: 37 / 32 * 100%;
        font-weight: 400;
        color: #000000;
        margin-right: 7px;
    }

    &__count {
        font-size: 15px;
        line-height: 18 / 15 * 100%;
        color: #B3B3B3;
        margin-bottom: 3px;
        white-space: nowrap;
    }
}

.sort-item {
    position: relative;
    width: 142px;
    &__control {
        display: flex;
        align-items: center;
    }

    &__control-label {
        font-size: 15px;
        line-height: 18 / 15 * 100%;
        color: #B3B3B3;
        margin-right: 3px;
    }

    &__dropdown {
        background: #FFFFFF;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        z-index: 9;
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

.sort-item-select {
    background: #FFFFFF;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    padding: 9px 25px 9px 7px;
    position: relative;
    width: 126px;
    cursor: pointer;
    transition: 0.3s;
    @media only screen and (max-width: 767px) {
        width: 120px;
    }
    &:hover {
        border-color: #D4D4E7;
    }
    &__arrow {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
    }
}

.sort-item-value {
    font-size: 15px;
    line-height: 18 / 15 * 100%;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sort-option {
    display: flex;
    align-items: center;
    padding: 9px 9px 9px 42px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;

    @media only screen and (min-width: 1199px) {
        &:hover {
            .sort-option__icon {
                opacity: 1;
                visibility: visible;
            }
        }
    }


    &.selected {
        background: #F4F4F4;
        .sort-option__icon {
            opacity: 1;
            visibility: visible;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        margin-right: 12px;
        position: absolute;
        left: 14px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
    }

    &__value {
        font-size: 15px;
        line-height: 18 / 15 * 100%;
        color: #000000;
    }
}

.page-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.pagination-item {
    margin: 0 4px;
    font-size: 14px;
    color: #2A2A86;
    a {
        width: 32px;
        min-width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: #2A2A86;
        border-radius: 100%;
        &:hover {
            background-color: #EAEAF3;
        }
    }

    &.pagination-prev,
    &.pagination-next {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
            opacity: 0.6;
        }
    }

    &.pagination-prev {
        transform: rotate(180deg);
        margin-right: 14px;
    }
    &.pagination-next {
        margin-left: 14px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.6;
    }

    &.active {
        a {
            background-color: #2A2A86;
            color: #ffffff;
        }
    }
}

.lang-items-wrap {
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.lang-items {
    display: flex;
    align-items: center;
}

.lang-items-label {
    font-size: 15px;
    line-height: 18 / 15 * 100%;
    color: #B3B3B3;
    margin-right: 10px;
}

.lang-item {
    margin-right: 10px;
    font-size: 15px;
    line-height: 18 / 15 * 100%;
    color: #000000;
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
    &:last-child {
        margin-right: 0;
    }

    &.active {
        pointer-events: none;
        font-weight: 700;
        &:hover {
            opacity: 1;
        }
    }
}

.globe-bg {
    background-repeat: repeat-y;
    background-position: top center;
    background-size: contain;
    opacity: 0.07;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 1408px;
    height: 100%;
    margin: 0 auto;
}

.s-post {
    padding: 80px 0 140px;
    position: relative;
    @media only screen and (max-width: 1199px) {
        padding: 60px 0 140px;
    }
    .lang-items-wrap {
        margin-left: 0;
        justify-content: center;
        margin-bottom: 60px;
        @media only screen and (max-width: 767px) {
            margin-bottom: 40px;
        }
    }
}

.post-container {
    position: relative;
    z-index: 1;
}

.post-intro {
    max-width: 800px;
    margin: 0 auto 80px;
    font-size: 20px;
    line-height: 32 / 20 * 100%;
    color: #000000;
    text-align: center;
    @media only screen and (max-width: 991px) {
        margin-bottom: 40px;
    }
    @media only screen and (max-width: 767px) {
        font-size: 16px;
        margin-bottom: 32px;
    }
    p {
        text-align: center;
    }
}

.post-content {
    &__narrow {
        max-width: 1090px;
        width: 100%;
        margin: 0 auto;
        @media only screen and (max-width: 1660px) {
            max-width: 730px;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 25px;
    }
    strong {
        font-weight: 700;
    }
    h2 {
        font-weight: 700;
        font-size: 26px;
        line-height: 24 / 26 * 100%;
        color: #000000;
        margin-bottom: 30px;
    }
    h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24 / 20 * 100%;
        color: #000000;
        margin-bottom: 24px;
        margin-top: 30px;
    }
    p {
        font-size: 16px;
        color: #000000;
        line-height: 30 / 16 * 100%;
        margin-bottom: 12px;
    }
    p+h2 {
        margin-top: 40px;
    }
    &__right {
        flex: 1;
    }
}

.post-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 50px -15px 80px;
    @media only screen and (max-width: 1199px) {
        margin: 30px -15px 60px;
    }
    @media only screen and (max-width: 767px) {
        margin-left: 0;
        margin-right: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.gallery-item {
    position: relative;
    width: calc(33.3333% - 30px);
    margin: 30px 15px 0;
    height: 388px;
    @media only screen and (max-width: 1660px) {
        height: 256px;
    }
    @media only screen and (max-width: 1199px) {
        width: calc(50% - 30px);
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    &:last-child {
        @media only screen and (max-width: 1199px) {
            width: 100%;
        }
    }
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        object-position: center;
    }
}


.post-with-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media only screen and (max-width: 991px) {
        display: block;
    }
}

.post-sidebar {
    background: #FFFFFF;
    flex: 0 0 320px;
    margin-right: 100px;
    position: sticky;
    top: 25px;
    transition: 0.3s;
    @media only screen and (max-width: 991px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 60px;
        flex: none;
    }
    @media only screen and (max-width: 767px) {
        margin-bottom: 40px;
    }
}

.post-btns {
    display: flex;
    align-items: center;
    margin-top: 60px;
    flex-wrap: wrap;
    .btn {
        margin-right: 10px;
        margin-bottom: 10px;
        @media only screen and (max-width: 480px) {
            width: 100%;
        }
    }
}

.btn {
    min-height: 40px;
    font-weight: 700;
    font-family: $mainfont;
    appearance: none;
    outline: none;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        opacity: 0.6;
    }
    &__icon {
        display: flex;
        align-items: center;
        margin-right: 12px;
    }
}

.btn-primary {
    background-color: $purple;
    color: #FFFFFF;
}

.tooltip {
    background-color: #FFF4BA;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        background-color: #FFE976;
    }
}

.tippy-box {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    font-size: 15px;
    line-height: 22 / 15 * 100%;
    border-radius: 0;
    p {
        margin-bottom: 0;
    }
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
    top: -1px;
}

.tippy-box[data-placement^=top]>.tippy-arrow {
    bottom: -1px;
}

.tippy-arrow {
    color: rgba(0, 0, 0, 0.5);
}

.tippy-content {
    padding: 16px 18px 18px;
    font-size: 15px;
    line-height: 22 / 15 * 100%;
}

.hidden {
    display: none;
}

.s-breadcrumbs {
    padding-bottom: 30px;
}

.breadcrumbs-list {
    li {
        font-size: 16px;
        line-height: 28 / 16 * 100%;
        position: relative;
        padding-right: 20px;
        font-weight: 700;
        display: inline;
        &:last-child {
            &::before {
                display: none;
            }
        }

        &::before {
            content: '';
            //background: url(../../public/images/bread-arrow.svg) no-repeat;
            position: absolute;
            width: 8px;
            height: 12px;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
        }
        a {
            display: inline-block;
            color: #000000;
            font-size: 16px;
            line-height: 28 / 16 * 100%;
            font-weight: 400;
            &:hover {
                opacity: 0.6;
            }
        }
    }
}

.select-track {
    .track-item {
        width: 100%;
        &.active {
            font-weight: 700;
            a {
                &:hover {
                    opacity: 1;
                }
            }
        }

        a {
            display: flex;
            align-items: center;
            padding: 5px 30px;
            font-size: 15px;
            line-height: 173.3333333333%;
            color: #000000;
            min-height: 41px;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    .select-input {
        border: 0;
        height: 82px;
        padding: 5px 55px 5px 30px;
        @media only screen and (min-width: 991px) {
            display: none;
        }
        @media only screen and (max-width: 767px) {
            height: 70px;
            padding-right: 45px;
        }
        .select-input__arrow {
            right: 32px;
            @media only screen and (max-width: 767px) {
                right: 22px;
            }
        }
        .track-item {
            pointer-events: none;
            a {
                padding: 0;
                font-weight: 700;
            }
        }
    }
    .select-options {
        @media only screen and (min-width: 991px) {
            position: relative;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            padding: 20px 0;
        }
        .select-option {
            padding: 0;
            &.selected {
                background-color: transparent;
                .track-item {
                    a {
                        font-weight: 700;
                        @media only screen and (min-width: 991px) {
                            font-weight: inherit;
                        }
                    }
                }
            }
            &:hover {
                background-color: transparent;
            }
            a {
                text-decoration: none;
                color: #000000;
                font-weight: 700;
                @media only screen and (min-width: 991px) {
                    font-weight: inherit;
                }
            }
        }
    }

}

.s-case {
    padding: 80px 0 105px;
    @media only screen and (max-width: 767px) {
        padding: 60px 0 105px;
    }
}

.accordion-arrow {
    display: flex;
    align-items: center;
    transition: 0.3s;
    margin-left: 10px;
}

.accordion-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 127%;
    color: #2A2A86;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    padding: 25px 20px;
    border-top: 1px solid #D4D4E7;
    @media only screen and (max-width: 767px) {
        padding: 25px 0;
    }
    &:hover {
        opacity: 0.6;
    }
}

.accordion-item {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    .accordion-content {
        display: none;
    }
    &.accordion-active {
        .accordion-arrow {
            transform: rotate(90deg);
        }
    }
}

.lists-top-text {
    max-width: 960px;
    width: 100%;
    margin: 0 auto 80px;
    font-size: 28px;
    line-height: 42 / 28 * 100%;
    color: #000000;
    text-align: center;
    @media only screen and (max-width: 767px) {
        font-size: 18px;
        margin-bottom: 60px;
    }
    p {
        margin-bottom: 0;
    }
}

.post-top-text {
    font-size: 22px;
    line-height: 32 / 22 * 100%;
    color: #000000;
    max-width: 1090px;
    width: 100%;
    margin: 0 auto 60px;
    @media only screen and (max-width: 1660px) {
        max-width: 730px;
    }
    @media only screen and (max-width: 767px) {
        font-size: 18px;
    }
    p {
        margin-bottom: 0;
    }
}

.article-lists {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}

.article-list-item {
    a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        font-size: 22px;
        line-height: 28 / 22 * 100%;
        color: $purple;
        padding: 35px 20px 35px 0;
        border-top: 1px solid #D4D4E7;
        @media only screen and (max-width: 767px) {
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            padding-right: 0;
        }
        &:hover {
            opacity: 0.6;
            .article-list-item__arrow {
                animation: arrowMove 1s forwards infinite;
            }
        }
    }
    &__arrow {
        display: flex;
        align-items: center;
        margin-left: 10px;
        @media only screen and (max-width: 767px) {
            width: 100%;
            justify-content: flex-end;
            margin-top: 30px;
            margin-left: 0;
        }
    }
}

.useful-links {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}

.ulink-item {
    display: flex;
    align-items: stretch;
    background: #FFFFFF;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    margin-bottom: 30px;
    @media only screen and (max-width: 991px) {
        flex-direction: column;
    }
    &:hover {
        box-shadow: 0 6px 48px rgba(0, 0, 0, 0.1);
        .ulink-item__left {
            img {
                transform: scale(1.5);
            }
        }
        .ulink-item__arrow {
            animation: arrowMove 1s forwards infinite;
        }
    }
    &__left {
        flex: 0 0 530px;
        position: relative;
        display: flex;
        align-items: center;
        min-height: 250px;
        overflow: hidden;
        @media only screen and (max-width: 1660px) {
            flex: 0 0 350px;
        }
        @media only screen and (max-width: 991px) {
            flex: none;
            width: 100%;
            min-height: 290px;
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
            object-position: center;
            transition: 0.3s;
        }
    }

    &__right {
        flex: 1;
        padding: 30px;
        font-size: 16px;
        line-height: 30 / 16 * 100%;
        color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        p {
            margin-bottom: 0;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
        @media only screen and (max-width: 991px) {
            margin-top: 30px;
        }
        @media only screen and (max-width: 767px) {
            flex-direction: column;
            margin-top: 40px;
            align-items: flex-start;
        }
        span {
            font-weight: 700;
            font-size: 18px;
            line-height: 21 / 18 * 100%;
            color: $purple;
            margin-right: 10px;
            @media only screen and (max-width: 767px) {
                margin-right: 0;
            }
        }
    }

    &__arrow {
        display: flex;
        align-items: center;
        min-width: 100px;
        @media only screen and (max-width: 767px) {
            justify-content: flex-end;
            margin-top: 50px;
            width: 100%;
        }
    }
}


.doc-lists {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}

.doc-list-item {
    position: relative;
    .download {
        &:hover {
            opacity: 0.6;
        }
    }
    .download-file {
        padding: 0;
        border: none;
    }
    a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 86px 25px 20px;
        border-top: 1px solid #D4D4E7;
        @media only screen and (max-width: 991px) {
            align-items: flex-start;
        }
        @media only screen and (max-width: 767px) {
            flex-direction: column;
            align-items: flex-start;
            padding: 25px 0;
        }
        &:hover {
            .doc-list-item__left {
                opacity: 0.6;
            }
            .visibility {
                opacity: 0.6;
            }
        }
    }
    &__left {
        display: flex;
        align-items: center;
        margin-right: 10px;
        transition: 0.3s;
        @media only screen and (max-width: 991px) {
            align-items: flex-start;
        }
        @media only screen and (max-width: 767px) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        min-width: 43px;
        margin-right: 20px;
        @media only screen and (max-width: 767px) {
            margin-right: 15px;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 28 / 22 * 100%;
        color: #2A2A86;
    }

    &__right {
        display: flex;
        align-items: center;
        @media only screen and (max-width: 767px) {
            justify-content: flex-end;
            width: 100%;
            margin-top: 20px;
            padding-right: 55px;
        }
    }

    &__action {
        transition: 0.3s;
        width: 32px;
        height: 32px;
        min-width: 32px;
        margin-left: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.download {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            cursor: pointer;
            @media only screen and (max-width: 991px) {
                transform: none;
                top: 24px;
            }
            @media only screen and (max-width: 767px) {
                top: auto;
                bottom: 25px;
                right: 0;
            }
        }

    }
}











.s-bottom-info {
    background: #EDEDED;
    border-top: 10px solid $purple;
    padding: 51px 0;
    @media only screen and (max-width: 374px) {
        padding: 35px 0;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        font-weight: 700;
        font-size: 20px;
        line-height: 28 / 20 * 100%;
        color: #000000;
        margin-right: 10px;
        flex: 1;
    }
    &__link {
        @media only screen and (max-width: 767px) {
            width: 75px;
        }
    }
    a {
        &:hover {
            opacity: 0.6;
        }
    }
}

.footer {
    background-color: $purple;
    a {
        color: #ffffff;
        font-size: 15px;
        line-height: 18 / 15 * 100%;
        display: inline-block;
        font-weight: 400;
        @media only screen and (max-width: 767px) {
            font-size: 12px;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    &__top {
        padding: 60px 0 30px;
        border-bottom: 1px solid #8787BB;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media only screen and (max-width: 767px) {
            padding: 40px 0 30px;
        }
    }

    &__contacts {
        p {
            font-weight: 700;
            font-size: 18px;
            line-height: 21 / 18 * 100%;
            color: #FFFFFF;
        }
        a {
            display: inline-block;
        }
    }

    &__contacts-item {
        margin-bottom: 8px;
        a {
            @media only screen and (max-width: 767px) {
                font-size: 13px;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__bottom {
        padding: 30px 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media only screen and (max-width: 767px) {
            display: block;
        }
    }

    &__logo {
        max-width: 100px;
        margin-right: 15px;
        @media only screen and (max-width: 767px) {
            margin-bottom: 30px;
            max-width: 65px;
        }
        @media only screen and (max-width: 374px) {
            margin-bottom: 20px;
        }
        a {
            display: flex;
            align-items: center;
            &:hover {
                opacity: 0.6;
            }
        }
    }

    &__bottom-right {
        text-align: right;
        @media only screen and (max-width: 767px) {
            text-align: left;
        }
    }

    &__nav {
        margin-bottom: 14px;
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            @media only screen and (max-width: 767px) {
                justify-content: flex-start;
            }
            li {
                margin-left: 30px;
                position: relative;
                &:first-child {
                    margin-left: 0;
                    &::before {
                        display: none;
                    }
                }
                &::before {
                    content: '';
                    position: absolute;
                    background-color: #fff;
                    width: 1px;
                    height: calc(100% - 5px);
                    top: 50%;
                    transform: translateY(-50%);
                    left: -15px;
                }
                a {
                    @media only screen and (max-width: 767px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .developed {
        font-size: 15px;
        line-height: 18 / 15 * 100%;
        color: #FFFFFF;
        opacity: 0.5;
        @media only screen and (max-width: 767px) {
            font-size: 12px;
        }

        &:hover {
            opacity: 1;
        }
    }
}

.social-items {
    display: flex;
    align-items: center;
    li {
        margin-left: 25px;
        @media only screen and (max-width: 767px) {
            margin-left: 20px;
        }
        a {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            @media only screen and (max-width: 767px) {
                width: 24px;
                height: 24px;
            }
            &:hover {
                opacity: 0.6;
            }
        }
    }
}

.copyright {
    font-size: 15px;
    line-height: 18 / 15 * 100%;
    color: #FFFFFF;
    margin-bottom: 14px;
    @media only screen and (max-width: 767px) {
        font-size: 12px;
    }
}


@keyframes arrowMove {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0);
    }
}


.ie {
    .header {
        height: 140px;
    }
    .s-top-intro {
        display: block;
        padding-top: 100px;
    }
    .card-item.card-item-home .card-item__title {
        flex: none;
    }
    .card-item {
        padding-bottom: 44px;
    }
    .card-item__bottom {
        flex: none;
    }
    .card-item__arrow {
        position: absolute;
        right: 30px;
        bottom: 30px;
    }
    .tippy-box {
        background-color: #000;
    }
    .post-sidebar {
        &.fixed {
            position: fixed;
            width: 320px;
            &+.post-content__right {
                padding-left: 420px;
            }
        }
    }
}


.s-404 {
    padding: 204px 0 154px;
    text-align: center;
    @media only screen and (max-width: 1660px) {
        padding: 80px 0;
    }
    &__title {
        font-size: 28px;
        line-height: 42px;
        text-align: center;
        color: #000000;
        font-weight: 400;
    }

    &__status {
        font-size: 200px;
        line-height: 42px;
        color: #2A2A86;
        margin: 180px 0;
        display: block;
        @media only screen and (max-width: 767px) {
            font-size: 150px;
            margin: 100px 0;
        }
    }

    &__info {
        font-size: 28px;
        line-height: 42px;
        color: #000000;
        @media only screen and (max-width: 767px) {
            font-size: 22px;
            line-height: 28px;
        }
    }
    a {
        color:#FAA61A;
    }
}


.body-blackout {
    position: absolute;
    z-index: 1010;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;

    &.is-blacked-out {
        display: block;
    }
}

.popup-modal {
    max-width: 550px;
    width: 95%;
    background-color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 45px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 1011;
    @media only screen and (max-width: 767px) {
        padding: 40px 20px;
    }

    &.is--visible {
        opacity: 1;
        pointer-events: auto;
    }

    &__close {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        transition: 0.3s;
    }
}

.popup-share {
    max-width: 350px;
    &__info {
        text-align: center;
        font-size: 20px;
        margin-bottom: 0;
    }
}

.popup-cookie {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 0;
    background-color: #2A2A86;
    color: #fff;
    z-index: 10;
    max-width: 100%;
    overflow-y: auto;
    &.is--visible {
        display: block;
    }


    &__left, &__right {
        width: calc(50% - 15px);
        @media only screen and (max-width: 767px) {
            width: 100%;
        }
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 767px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }

    &__title {
        font-size: 22px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    &__info {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
        @media only screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
        a {
            color: #2A2A86;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media only screen and (max-width: 767px) {
            justify-content: center;
        }
        .btn {
            margin-right: 10px;
            max-width: 165px;
            width: 100%;
            padding: 10px;
            background-color: #fff;
            color: #2A2A86;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}


.word-break {
    word-break: break-all;
}

.lang-item a {
    font-size: 15px;
    line-height: 120%;
    color: #000000;
    cursor: pointer;
}

.post-content__right ul{
    list-style-type: disc !important;
    margin-left: 19px;
}
.post-content__right ul li{
    margin: 7px 0;
}

.business-area-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
@media only screen and (max-width: 1199px) {
    .business-area{
        max-width: calc(470px - 50px);
        width: 100%;
    }
}
@media only screen and (max-width: 991px) {
    .business-area{
        max-width: calc(420px - 80px);
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .business-area-wrap{
        display: block;
    }
    .business-area{
        margin: 15px auto;
    }
}
#select-country-icon img {
    max-width: 22px;
    max-height: 16px;
    width: 100%;
    height: 100%;
}
.search-button-count{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    letter-spacing: .2px;
    color: grey;
}
.search-button-count:hover{
    cursor: pointer;
    color: #2A2A86;
}

