.lb-loader,.lightbox{text-align:center;line-height:0;position:absolute;left:0}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{width:100%;z-index:10000;font-weight:400;outline:0}.lightbox .lb-image{display:block;height:auto;max-width:inherit;max-height:none;border-radius:3px;border:4px solid #fff}.lightbox a img{border:none}.lb-outerContainer{position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff}.lb-outerContainer:after{content:"";display:table;clear:both}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(/images/vendor/lightbox2/dist/loading.gif?2299ad0b3f63413f026dfec20c205b8f) no-repeat}.lb-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(/images/vendor/lightbox2/dist/prev.png?84b76dee6b27b795e89e3649078a11c2) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(/images/vendor/lightbox2/dist/next.png?31f15875975aab69085470aabbfec802) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{content:"";display:table;clear:both}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-caption a{color:#4ae}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(/images/vendor/lightbox2/dist/close.png?d9d2d0b1308cb694aa8116915592e2a9) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url(/fonts/Roboto-Regular.woff?94dac78eee406a8c8f0406b69b85ac2b) format("woff"), url(/fonts/Roboto-Regular.woff2?9feb0110b6dff9ee2b9ebd17f7a1aee6) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url(/fonts/Roboto-Medium.woff?9a3bf7acae14d9b5ed5a88458106b58b) format("woff"), url(/fonts/Roboto-Medium.woff2?50d01d3e6c994995bcaf829e63d53d1a) format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url(/fonts/Roboto-Bold.woff?08cb8f79715774f9a6285ee7db2919a3) format("woff"), url(/fonts/Roboto-Bold.woff2?f3a02e2578bee50e620e515912278bc9) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicBook";
  font-display: swap;
  src: url(/fonts/FranklinGothicBook-Regular.woff?d33e0dc6d0c8998992b0c57cafc25cd8) format("woff"), url(/fonts/FranklinGothicBook-Regular.woff2?f74796d0dc3f3909f35d4530fa4902f1) format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  outline: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

input,
button,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  outline: none;
}

::-moz-placeholder {
  color: #B3B3B3;
}

:-ms-input-placeholder {
  color: #B3B3B3;
}

::placeholder {
  color: #B3B3B3;
}

input,
textarea {
  outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid,
textarea:required:valid {
  border-color: green;
}

input,
button,
select,
textarea {
  font-family: "Roboto", sans-serif;
}

svg path,
svg polygon {
  transition: all 0.3s ease-in-out;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  min-width: 320px;
  font-weight: 400;
  position: relative;
  line-height: 1.22;
  overflow-x: hidden;
  color: #000;
  background-color: #fff;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  body.select-country-open {
    overflow: hidden;
    position: fixed;
  }
}

body.menu-is-open {
  overflow: hidden;
  position: fixed;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
  color: #2A2A86;
}

a:hover {
  text-decoration: none !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 135%;
}

h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 122.2222222222%;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
}

h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 122.2222222222%;
}

h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 118.75%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 15px 0;
}

.container {
  max-width: 1688px;
  width: 100%;
  margin: 0 auto;
  padding: 0 19px;
}

@media only screen and (max-width: 1660px) {
  .container {
    max-width: 1148px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 13px;
  }
}

.container.post-container {
  max-width: 1408px;
}

@media only screen and (max-width: 1660px) {
  .container.post-container {
    max-width: 1148px;
  }
}

@media only screen and (max-width: 767px) {
  .container.post-container {
    padding: 0 13px;
  }
}

.header {
  background-color: #2A2A86;
  padding: 20px 0 30px;
  min-height: 140px;
  display: flex;
  align-items: flex-end;
}

@media only screen and (max-width: 767px) {
  .header {
    min-height: 100px;
    align-items: center;
    padding: 20px 0;
  }
}

.header .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .header .container {
    align-items: center;
  }
}

.header__left {
  max-width: 320px;
  margin-right: 15px;
}

@media only screen and (max-width: 767px) {
  .header__left {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 374px) {
  .header__left {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  position: relative;
}

.header.header-info {
  display: block;
  padding: 15px 0;
}

.header__top-info {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #FFFAFA;
  width: 100%;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 23px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 767px) {
  .header__top-info {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}

.header__top-info p {
  margin-bottom: 0;
}

.header__top-info a {
  color: #fcd507;
}

.header__top-info a:hover {
  opacity: 0.6;
}

.header__info-icon {
  display: flex;
  align-items: center;
  margin-right: 25px;
  min-width: 30px;
}

@media only screen and (max-width: 767px) {
  .header__info-icon {
    margin-right: 15px;
  }
}

.site-logo {
  display: flex;
  align-items: center;
  position: relative;
}

.site-logo:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 991px) {
  .site-logo.desktop {
    display: none;
  }
}

.site-logo.mobile {
  display: none;
}

@media only screen and (max-width: 991px) {
  .site-logo.mobile {
    display: flex;
  }
}

.lang-lists {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 115.3846153846%;
  color: #FFFFFF;
  justify-content: flex-end;
  margin-bottom: 17px;
}

@media only screen and (max-width: 767px) {
  .lang-lists {
    font-size: 18px;
    justify-content: center;
    margin-bottom: 49px;
  }
}

.lang-lists li {
  margin-left: 10px;
  transition: 0.3s;
}

@media only screen and (max-width: 767px) {
  .lang-lists li {
    margin: 0 15px;
  }
}

.lang-lists li.active {
  font-weight: 700;
}

.lang-lists li.active:hover {
  opacity: 1;
}

.lang-lists li:hover {
  opacity: 0.6;
}

.lang-lists li a {
  color: #FFFFFF;
}

.mob-menu-close {
  display: none;
  align-items: center;
  position: absolute;
  right: 18px;
  top: 40px;
}

@media only screen and (max-width: 767px) {
  .mob-menu-close {
    display: flex;
  }
}

.mob-menu-open {
  min-width: 30px;
  display: none;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .mob-menu-open {
    display: flex;
  }
}

.main-menu {
  position: relative;
  z-index: 2;
  padding-right: 36px;
}

@media only screen and (max-width: 767px) {
  .main-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    height: calc((var(--vh, 1vh) * 100));
    background-color: #2A2A86;
    width: 100%;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9;
    transition: 0.3s;
    transform: translateX(100%);
  }
}

.main-menu .site-logo {
  display: none;
}

@media only screen and (max-width: 767px) {
  .main-menu .site-logo {
    display: inline-block;
    top: 25px;
    left: 20px;
    width: 58px;
  }
}

.main-menu.active {
  transform: translateX(0);
}

@media only screen and (max-width: 767px) {
  .main-menu__inner {
    overflow-y: auto;
    height: calc(100vh - 100px);
    height: calc((var(--vh, 1vh) * 100) - 100px);
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.main-menu ul:not(.lang-lists) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .main-menu ul:not(.lang-lists) {
    display: block;
    text-align: center;
    padding-top: 75px;
  }
}

@media only screen and (max-width: 374px) {
  .main-menu ul:not(.lang-lists) {
    padding-top: 0;
  }
}

.main-menu ul:not(.lang-lists) li {
  margin-right: 10px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .main-menu ul:not(.lang-lists) li {
    margin-right: 0;
    margin-bottom: 30px;
    padding: 0 13px;
  }
}

@media only screen and (max-width: 374px) {
  .main-menu ul:not(.lang-lists) li {
    margin-bottom: 15px;
  }
}

.main-menu ul:not(.lang-lists) li:last-child {
  margin-right: 0;
}

.main-menu ul:not(.lang-lists) li.active > a {
  font-weight: 700;
}

.main-menu ul:not(.lang-lists) li a,
.main-menu ul:not(.lang-lists) li .sub-menu-more {
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  display: inline-block;
  padding: 9px 18px;
  cursor: pointer;
  transition: 0.3s;
}

@media only screen and (max-width: 767px) {
  .main-menu ul:not(.lang-lists) li a,
  .main-menu ul:not(.lang-lists) li .sub-menu-more {
    font-size: 18px;
    display: block;
    padding: 13px 18px;
  }
}

.main-menu ul:not(.lang-lists) li a:hover,
.main-menu ul:not(.lang-lists) li .sub-menu-more:hover {
  opacity: 0.6;
}

.main-menu ul:not(.lang-lists) li .sub-menu-dropdown {
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  width: 182px;
  position: absolute;
  z-index: 5;
  top: calc(100% + 10px);
  left: 0;
  background: #FFFFFF;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  display: block;
  padding: 20px 0;
}

@media only screen and (max-width: 1199px) {
  .main-menu ul:not(.lang-lists) li .sub-menu-dropdown {
    width: 160px;
  }
}

@media only screen and (max-width: 767px) {
  .main-menu ul:not(.lang-lists) li .sub-menu-dropdown {
    width: 100%;
  }
}

.main-menu ul:not(.lang-lists) li .sub-menu-dropdown::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 7px 7.5px;
  border-color: transparent transparent #ffffff transparent;
  top: -7px;
  left: 32px;
}

@media only screen and (max-width: 767px) {
  .main-menu ul:not(.lang-lists) li .sub-menu-dropdown::before {
    left: 50%;
    transform: translateX(-50%);
  }
}

.main-menu ul:not(.lang-lists) li .sub-menu-dropdown li {
  margin-right: 0;
  margin-bottom: 0;
}

.main-menu ul:not(.lang-lists) li .sub-menu-dropdown li a {
  color: #000000;
  padding: 11px 30px;
  display: block;
  text-align: left;
}

@media only screen and (max-width: 1199px) {
  .main-menu ul:not(.lang-lists) li .sub-menu-dropdown li a {
    padding: 11px 20px;
  }
}

.main-menu ul:not(.lang-lists) li.sub-menu-item.active .sub-menu-more {
  opacity: 0.6;
}

.main-menu ul:not(.lang-lists) li.sub-menu-item.active .sub-menu-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.header-search {
  position: absolute;
  right: 0;
  transition: 0.2s;
  z-index: 2;
  width: 36px;
}

@media only screen and (max-width: 767px) {
  .header-search {
    position: relative;
    margin-right: 33px;
  }
}

@media only screen and (max-width: 374px) {
  .header-search {
    margin-right: 10px;
  }
}

.header-search.active {
  width: 100%;
}

.header-search.active input {
  opacity: 1;
  padding: 0 10px;
  visibility: visible;
}

.header-search.active .header-search__icon {
  opacity: 0;
  visibility: hidden;
}

.header-search input {
  border: 0;
  padding: 0;
  background-color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  transition: 0.2s;
  height: 36px;
}

.header-search__icon {
  display: flex;
  align-items: center;
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 36px;
  height: 36px;
  justify-content: center;
  z-index: 2;
  transition: 0.2s;
}

@media only screen and (max-width: 767px) {
  .header-search__icon {
    right: 0;
  }
}

@media only screen and (min-width: 768px) {
  .header-search__icon img {
    max-width: 16px;
  }
}

.header-search__icon:hover {
  opacity: 0.6;
}

.s-top-intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 448px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0 75px;
  position: relative;
}

@media only screen and (max-width: 1199px) {
  .s-top-intro {
    min-height: 448px;
  }
}

@media only screen and (max-width: 767px) {
  .s-top-intro {
    min-height: 207px;
    padding: 30px 0 70px;
  }
}

.s-top-intro .container {
  position: relative;
}

@media only screen and (max-width: 1199px) {
  .s-top-intro.s-top-intro-homepage {
    min-height: 590px;
  }
}

@media only screen and (max-width: 575px) {
  .s-top-intro.s-top-intro-homepage {
    min-height: 260px;
  }
}

.s-top-intro.s-top-intro-homepage::before {
  display: none;
}

.s-top-intro.s-top-intro-homepage .main-title-wrap {
  padding: 70px 0;
}

.s-top-intro::before {
  content: "";
  background: linear-gradient(0deg, rgba(17, 17, 41, 0.3), rgba(17, 17, 41, 0.3));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.s-top-intro .main-title-wrap {
  padding: 55px 0;
}

@media only screen and (max-width: 767px) {
  .s-top-intro .main-title-wrap {
    padding: 30px 0;
  }
}

.full-height {
  min-height: calc(100vh - 140px);
  padding-bottom: 40px;
}

@media only screen and (max-width: 1199px) {
  .full-height {
    min-height: 448px;
  }
}

@media only screen and (max-width: 767px) {
  .full-height {
    min-height: 207px;
  }
}

.main-title-wrap {
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 10px;
  text-align: center;
  border-top: 3px dotted #FFFFFF;
  border-bottom: 3px dotted #FFFFFF;
  position: relative;
}

@media only screen and (max-width: 1660px) {
  .main-title-wrap {
    max-width: 800px;
  }
}

@media only screen and (max-width: 767px) {
  .main-title-wrap {
    padding: 60px 0;
  }
}

.post-tag {
  position: relative;
  z-index: 1;
  display: inline-block;
  top: 16px;
  left: 50%;
  max-width: 95%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  padding: 7px 14px;
  background-color: #2A2A86;
}

@media only screen and (max-width: 767px) {
  .post-tag {
    font-size: 14px;
  }
}

.post-tag.green {
  background-color: #8DC63F;
}

.main-title {
  text-align: center;
  font-size: 92px;
  font-weight: 400;
  line-height: 117.3913043478%;
  color: #FFFFFF;
}

@media only screen and (max-width: 1199px) {
  .main-title {
    font-size: 78px;
  }
}

@media only screen and (max-width: 767px) {
  .main-title {
    font-size: 36px;
  }
}

.main-title.md-title {
  font-size: 56px;
  line-height: 117.8571428571%;
}

@media only screen and (max-width: 1199px) {
  .main-title.md-title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .main-title.md-title {
    font-size: 26px;
  }
}

.post-date {
  text-align: center;
  font-size: 14px;
  line-height: 114.2857142857%;
  color: #FFFFFF;
  margin-top: 24px;
}

@media only screen and (max-width: 767px) {
  .post-date {
    margin-top: 7px;
  }
}

.s-homepage {
  padding: 80px 0 110px;
}

@media only screen and (max-width: 767px) {
  .s-homepage {
    padding: 60px 0 110px;
  }
}

@media only screen and (max-width: 374px) {
  .s-homepage {
    padding-bottom: 30px;
  }
}

.s-homepage__text-intro {
  max-width: 960px;
  width: 100%;
  margin: 0 auto 80px;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .s-homepage__text-intro {
    font-size: 18px;
    margin-bottom: 40px;
  }
}

.card-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

@media only screen and (max-width: 767px) {
  .card-items {
    margin: 0;
  }
}

.card-item {
  position: relative;
  width: calc(33.3333% - 30px);
  margin: 0 15px 30px;
  background: #FFFFFF;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  color: black;
}

@media only screen and (max-width: 991px) {
  .card-item {
    width: calc(50% - 30px);
  }
}

@media only screen and (max-width: 767px) {
  .card-item {
    width: 100%;
    margin: 0 0 30px;
  }
}

.card-item:hover {
  box-shadow: 0 6px 48px rgba(0, 0, 0, 0.3);
}

.card-item:hover .card-item__arrow {
  -webkit-animation: arrowMove 1s forwards infinite;
          animation: arrowMove 1s forwards infinite;
}

.card-item.card-item-home {
  display: block;
}

.card-item.card-item-home .card-item__top {
  height: 385px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

@media only screen and (max-width: 1660px) {
  .card-item.card-item-home .card-item__top {
    height: 254px;
    padding: 2px;
  }
}

.card-item.card-item-home .card-item__top img {
  max-height: 100%;
  position: relative;
  width: 100%;
  height: 100%;
}

.card-item.card-item-home .card-item__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 30px;
  flex-direction: row;
}

.card-item.card-item-home .card-item__arrow {
  margin-top: 0;
  width: auto;
}

.card-item.card-item-home .card-item__title {
  max-width: 360px;
  width: 100%;
  margin-right: 10px;
  flex: 1;
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .card-item.card-item-home .card-item__title {
    margin-right: 16px;
  }
}

@media only screen and (max-width: 1199px) {
  .card-item.card-item-home .card-item__title br {
    display: none;
  }
}

.card-item.card-item-home:nth-child(1) .card-item__title {
  color: #00b8d4;
}

.card-item.card-item-home:nth-child(2) .card-item__title {
  color: #FAA61A;
}

.card-item.card-item-home:nth-child(3) .card-item__title {
  color: #EF4E6E;
}

.card-item.card-item-home:nth-child(4) .card-item__title {
  color: #8DC63F;
}

.card-item.card-item-home:nth-child(5) .card-item__title {
  color: #8781BD;
}

.card-item.card-item-home:nth-child(6) .card-item__title {
  color: #ED1D24;
}

.card-item__top {
  height: 394px;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 1660px) {
  .card-item__top {
    height: 254px;
  }
}

.card-item__top img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card-item__label {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 120%;
  color: #000000;
}

.card-item__label.green {
  color: #8DC63F;
}

.card-item__label.red {
  color: #EF4E6E;
}

.card-item__label.red-dark {
  color: #ED1D24;
}

.card-item__label.orange {
  color: #FAA61A;
}

.card-item__label.purple {
  color: #8781BD;
}

.card-item__label.blue {
  color: #00B7D4;
}

.card-item__descr {
  font-size: 15px;
  line-height: 146.6666666667%;
  color: #000000;
  margin-bottom: 18px;
}

.card-item__date {
  font-size: 14px;
  line-height: 114.2857142857%;
  color: #B3B3B3;
  margin-bottom: 20px;
}

.card-item img {
  transition: 0.3s;
}

.card-item__bottom {
  flex: 1;
  padding: 24px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 1660px) {
  .card-item__bottom {
    padding-top: 30px;
  }
}

.card-item__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 127.2727272727%;
  color: #000000;
  margin-bottom: 14px;
}

.card-item__arrow {
  display: flex;
  align-items: center;
  min-width: 29px;
  transition: 0.3s;
  width: 100%;
  justify-content: flex-end;
}

.s-search {
  padding: 50px 0 110px;
}

.page-search {
  background: #FFFFFF;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -86px;
}

@media only screen and (max-width: 767px) {
  .page-search {
    display: block;
    box-shadow: none;
    margin-top: -82px;
  }
}

.search-main {
  background-color: #fff;
  border-right: 1px solid #D4D4E7;
  position: relative;
  flex: 1;
}

@media only screen and (max-width: 767px) {
  .search-main {
    border-right: 0;
    margin-bottom: 1px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }
}

.search-main__icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

.search-main input {
  padding: 26px 22px 26px 58px;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #000000;
  width: 90%;
  background-color: #fff;
}

@media only screen and (max-width: 767px) {
  .search-main input {
    padding: 20px 22px 20px 58px;
  }
}

.search-main__search-button {
  position: absolute;
  right: 3%;
  top: 34%;
  z-index: 50;
  cursor: pointer;
}

.country-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 117.8571428571%;
  color: #000000;
}

.close-country-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 36px;
  height: 36px;
  justify-content: center;
}

.select-country {
  flex: 0 0 389px;
  background-color: #fff;
}

@media only screen and (max-width: 1660px) {
  .select-country {
    flex: 0 0 349px;
  }
}

@media only screen and (max-width: 991px) {
  .select-country {
    flex: 0 0 256px;
  }
}

@media only screen and (max-width: 767px) {
  .select-country {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }
}

.select-country.active .select-country__dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.select-country.active .select-country__item-arrow {
  transform: rotate(180deg);
}

.select-country__dropdown-mobile {
  display: none;
  padding: 23px 12px 10px 20px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 85px;
}

@media only screen and (max-width: 767px) {
  .select-country__dropdown-mobile {
    display: flex;
  }
}

.select-country__item {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 32px;
  background-color: #fff;
}

@media only screen and (max-width: 991px) {
  .select-country__item {
    padding-right: 25px;
  }
}

.select-country__item.selected .select-country__item-remove {
  opacity: 1;
  visibility: visible;
}

.select-country__item.selected .select-country__item-remove:hover {
  opacity: 0.6;
}

.select-country__item-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
}

.select-country__item-right {
  display: flex;
  align-items: center;
}

.select-country__item-remove,
.select-country__item-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-country__item-remove {
  margin-right: 20px;
  min-width: 20px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

@media only screen and (max-width: 991px) {
  .select-country__item-remove {
    margin-right: 10px;
  }
}

.select-country__item-arrow {
  min-width: 16px;
  width: 16px;
  height: 16px;
  transition: 0.3s;
}

.select-country__dropdown {
  position: absolute;
  z-index: 9;
  top: calc(100% + 1px);
  width: 100%;
  left: 0;
  background: #FFFFFF;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  padding: 15px 20px 15px 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  transform: translateY(100px);
}

@media only screen and (max-width: 767px) {
  .select-country__dropdown {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateY(0);
    z-index: 99;
    padding: 0;
  }
}

.select-country__dropdown-items {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .select-country__dropdown-items {
    height: calc(100vh - 85px);
    height: calc((var(--vh, 1vh) * 100) - 85px);
    overflow-y: auto;
    display: block;
  }
}

.select-country__dropdown-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40%;
}

@media only screen and (max-width: 991px) {
  .select-country__dropdown-item {
    width: 33.3333%;
  }
}

@media only screen and (max-width: 767px) {
  .select-country__dropdown-item {
    width: 100%;
  }
}

.select-country__dropdown-item:last-child {
  width: 20%;
}

@media only screen and (max-width: 991px) {
  .select-country__dropdown-item:last-child {
    width: 33.3333%;
  }
}

@media only screen and (max-width: 767px) {
  .select-country__dropdown-item:last-child {
    width: 100%;
  }
}

.select-country__dropdown-item:last-child .select-country__lists {
  width: 100%;
}

.select-country__lists {
  width: 50%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 991px) {
  .select-country__lists {
    width: 100%;
  }
}

.select-country__lists-item {
  width: 20%;
}

@media only screen and (max-width: 991px) {
  .select-country__lists-item {
    width: 33.3333%;
  }
}

@media only screen and (max-width: 767px) {
  .select-country__lists-item {
    width: 100%;
  }
}

.select-country__lists-item a {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 30px 10px 10px;
  transition: 0.3s;
  position: relative;
  color: #000000;
}

@media only screen and (max-width: 767px) {
  .select-country__lists-item a {
    padding: 12px 40px 12px 20px;
  }
}

.select-country__lists-item:hover {
  background-color: #F4F4F4;
}

.select-country__lists-item .check-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

@media only screen and (max-width: 767px) {
  .select-country__lists-item .check-icon {
    right: 20px;
  }
}

.select-country__lists-item.selected {
  background-color: #F4F4F4;
}

.select-country__lists-item.selected .check-icon {
  opacity: 1;
  visibility: visible;
}

.select-country-value {
  padding: 26px 22px 26px 58px;
  border: 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #000000;
  background-color: #fff;
  width: 100%;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 1;
  pointer-events: none;
}

@media only screen and (max-width: 991px) {
  .select-country-value {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .select-country-value {
    padding: 20px 22px 20px 58px;
  }
}

.flag-img {
  width: 21px;
  min-width: 21px;
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.country-name {
  font-size: 16px;
  line-height: 18px;
  font-family: "FranklinGothicBook", sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 1660px) {
  .country-name {
    font-size: 15px;
  }
}

.search-info {
  display: flex;
  align-items: flex-start;
  font-size: 13px;
  line-height: 169.2307692308%;
  color: #B3B3B3;
  margin-top: 10px;
  margin-bottom: 40px;
}

.search-info__icon {
  display: flex;
  min-width: 11px;
  align-items: center;
  margin-right: 8px;
  margin-top: 5px;
}

.search-info p {
  margin-bottom: 0;
}

.business-area {
  max-width: 500px;
  width: 100%;
}

.business-area__label {
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #D4D4E7;
  margin-bottom: 10px;
}

.select {
  position: relative;
}

.select.active .select-options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.select.active .select-input__arrow {
  transform: translateY(-50%) rotate(180deg);
}

.select-input {
  background: #FFFFFF;
  border: 1px solid #D4D4E7;
  height: 42px;
  display: flex;
  align-items: center;
  padding: 5px 40px 5px 15px;
  position: relative;
  cursor: pointer;
}

.select-input__value {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-input__value span {
  margin-left: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-input__arrow {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.select-options {
  background: #FFFFFF;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 9;
  top: 100%;
  width: 100%;
  left: 0;
  padding: 10px 0;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  overflow-y: auto;
  max-height: 335px;
}

.select-option {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 146.6666666667%;
  color: #000000;
  cursor: pointer;
  padding: 9px 15px;
}

.select-option.selected {
  background: #F4F4F4;
}

.select-option:hover {
  background: #F4F4F4;
}

.select-option span {
  margin-left: 13px;
}

.select-option a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

@media only screen and (min-width: 991px) {
  .select-option a {
    font-weight: inherit;
  }
}

.result-wrap {
  margin-top: 80px;
}

.result-top {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.result-top__left {
  margin-right: 5px;
}

.result-top__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: -7px;
}

@media only screen and (max-width: 767px) {
  .result-top .lang-items-wrap {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}

.result-info {
  display: flex;
  align-items: flex-end;
}

.result-info__title {
  font-size: 32px;
  line-height: 115.625%;
  font-weight: 400;
  color: #000000;
  margin-right: 7px;
}

.result-info__count {
  font-size: 15px;
  line-height: 120%;
  color: #B3B3B3;
  margin-bottom: 3px;
  white-space: nowrap;
}

.sort-item {
  position: relative;
  width: 142px;
}

.sort-item__control {
  display: flex;
  align-items: center;
}

.sort-item__control-label {
  font-size: 15px;
  line-height: 120%;
  color: #B3B3B3;
  margin-right: 3px;
}

.sort-item__dropdown {
  background: #FFFFFF;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 9;
}

.sort-item__dropdown.active {
  opacity: 1;
  visibility: visible;
}

.sort-item-select {
  background: #FFFFFF;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  padding: 9px 25px 9px 7px;
  position: relative;
  width: 126px;
  cursor: pointer;
  transition: 0.3s;
}

@media only screen and (max-width: 767px) {
  .sort-item-select {
    width: 120px;
  }
}

.sort-item-select:hover {
  border-color: #D4D4E7;
}

.sort-item-select__arrow {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.sort-item-value {
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sort-option {
  display: flex;
  align-items: center;
  padding: 9px 9px 9px 42px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

@media only screen and (min-width: 1199px) {
  .sort-option:hover .sort-option__icon {
    opacity: 1;
    visibility: visible;
  }
}

.sort-option.selected {
  background: #F4F4F4;
}

.sort-option.selected .sort-option__icon {
  opacity: 1;
  visibility: visible;
}

.sort-option__icon {
  display: flex;
  align-items: center;
  margin-right: 12px;
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.sort-option__value {
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}

.page-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.pagination-item {
  margin: 0 4px;
  font-size: 14px;
  color: #2A2A86;
}

.pagination-item a {
  width: 32px;
  min-width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #2A2A86;
  border-radius: 100%;
}

.pagination-item a:hover {
  background-color: #EAEAF3;
}

.pagination-item.pagination-prev,
.pagination-item.pagination-next {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.pagination-item.pagination-prev:hover,
.pagination-item.pagination-next:hover {
  opacity: 0.6;
}

.pagination-item.pagination-prev {
  transform: rotate(180deg);
  margin-right: 14px;
}

.pagination-item.pagination-next {
  margin-left: 14px;
}

.pagination-item.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.pagination-item.active a {
  background-color: #2A2A86;
  color: #ffffff;
}

.lang-items-wrap {
  display: flex;
  align-items: center;
  margin-left: 45px;
}

.lang-items {
  display: flex;
  align-items: center;
}

.lang-items-label {
  font-size: 15px;
  line-height: 120%;
  color: #B3B3B3;
  margin-right: 10px;
}

.lang-item {
  margin-right: 10px;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  cursor: pointer;
}

.lang-item:hover {
  opacity: 0.6;
}

.lang-item:last-child {
  margin-right: 0;
}

.lang-item.active {
  pointer-events: none;
  font-weight: 700;
}

.lang-item.active:hover {
  opacity: 1;
}

.globe-bg {
  background-repeat: repeat-y;
  background-position: top center;
  background-size: contain;
  opacity: 0.07;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 1408px;
  height: 100%;
  margin: 0 auto;
}

.s-post {
  padding: 80px 0 140px;
  position: relative;
}

@media only screen and (max-width: 1199px) {
  .s-post {
    padding: 60px 0 140px;
  }
}

.s-post .lang-items-wrap {
  margin-left: 0;
  justify-content: center;
  margin-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  .s-post .lang-items-wrap {
    margin-bottom: 40px;
  }
}

.post-container {
  position: relative;
  z-index: 1;
}

.post-intro {
  max-width: 800px;
  margin: 0 auto 80px;
  font-size: 20px;
  line-height: 160%;
  color: #000000;
  text-align: center;
}

@media only screen and (max-width: 991px) {
  .post-intro {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .post-intro {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.post-intro p {
  text-align: center;
}

.post-content__narrow {
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 1660px) {
  .post-content__narrow {
    max-width: 730px;
  }
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-bottom: 25px;
}

.post-content strong {
  font-weight: 700;
}

.post-content h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 92.3076923077%;
  color: #000000;
  margin-bottom: 30px;
}

.post-content h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 24px;
  margin-top: 30px;
}

.post-content p {
  font-size: 16px;
  color: #000000;
  line-height: 187.5%;
  margin-bottom: 12px;
}

.post-content p + h2 {
  margin-top: 40px;
}

.post-content__right {
  flex: 1;
}

.post-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 50px -15px 80px;
}

@media only screen and (max-width: 1199px) {
  .post-gallery {
    margin: 30px -15px 60px;
  }
}

@media only screen and (max-width: 767px) {
  .post-gallery {
    margin-left: 0;
    margin-right: 0;
  }
}

.post-gallery:last-child {
  margin-bottom: 0;
}

.gallery-item {
  position: relative;
  width: calc(33.3333% - 30px);
  margin: 30px 15px 0;
  height: 388px;
}

@media only screen and (max-width: 1660px) {
  .gallery-item {
    height: 256px;
  }
}

@media only screen and (max-width: 1199px) {
  .gallery-item {
    width: calc(50% - 30px);
  }
}

@media only screen and (max-width: 767px) {
  .gallery-item {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .gallery-item:last-child {
    width: 100%;
  }
}

.gallery-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.post-with-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media only screen and (max-width: 991px) {
  .post-with-sidebar {
    display: block;
  }
}

.post-sidebar {
  background: #FFFFFF;
  flex: 0 0 320px;
  margin-right: 100px;
  position: sticky;
  top: 25px;
  transition: 0.3s;
}

@media only screen and (max-width: 991px) {
  .post-sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 60px;
    flex: none;
  }
}

@media only screen and (max-width: 767px) {
  .post-sidebar {
    margin-bottom: 40px;
  }
}

.post-btns {
  display: flex;
  align-items: center;
  margin-top: 60px;
  flex-wrap: wrap;
}

.post-btns .btn {
  margin-right: 10px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
  .post-btns .btn {
    width: 100%;
  }
}

.btn {
  min-height: 40px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  opacity: 0.6;
}

.btn__icon {
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.btn-primary {
  background-color: #2A2A86;
  color: #FFFFFF;
}

.tooltip {
  background-color: #FFF4BA;
  transition: 0.3s;
  cursor: pointer;
}

.tooltip:hover {
  background-color: #FFE976;
}

.tippy-box {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-size: 15px;
  line-height: 146.6666666667%;
  border-radius: 0;
}

.tippy-box p {
  margin-bottom: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: -1px;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: -1px;
}

.tippy-arrow {
  color: rgba(0, 0, 0, 0.5);
}

.tippy-content {
  padding: 16px 18px 18px;
  font-size: 15px;
  line-height: 146.6666666667%;
}

.hidden {
  display: none;
}

.s-breadcrumbs {
  padding-bottom: 30px;
}

.breadcrumbs-list li {
  font-size: 16px;
  line-height: 175%;
  position: relative;
  padding-right: 20px;
  font-weight: 700;
  display: inline;
}

.breadcrumbs-list li:last-child::before {
  display: none;
}

.breadcrumbs-list li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.breadcrumbs-list li a {
  display: inline-block;
  color: #000000;
  font-size: 16px;
  line-height: 175%;
  font-weight: 400;
}

.breadcrumbs-list li a:hover {
  opacity: 0.6;
}

.select-track .track-item {
  width: 100%;
}

.select-track .track-item.active {
  font-weight: 700;
}

.select-track .track-item.active a:hover {
  opacity: 1;
}

.select-track .track-item a {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  font-size: 15px;
  line-height: 173.3333333333%;
  color: #000000;
  min-height: 41px;
}

.select-track .track-item a:hover {
  opacity: 0.6;
}

.select-track .select-input {
  border: 0;
  height: 82px;
  padding: 5px 55px 5px 30px;
}

@media only screen and (min-width: 991px) {
  .select-track .select-input {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .select-track .select-input {
    height: 70px;
    padding-right: 45px;
  }
}

.select-track .select-input .select-input__arrow {
  right: 32px;
}

@media only screen and (max-width: 767px) {
  .select-track .select-input .select-input__arrow {
    right: 22px;
  }
}

.select-track .select-input .track-item {
  pointer-events: none;
}

.select-track .select-input .track-item a {
  padding: 0;
  font-weight: 700;
}

@media only screen and (min-width: 991px) {
  .select-track .select-options {
    position: relative;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    padding: 20px 0;
  }
}

.select-track .select-options .select-option {
  padding: 0;
}

.select-track .select-options .select-option.selected {
  background-color: transparent;
}

.select-track .select-options .select-option.selected .track-item a {
  font-weight: 700;
}

@media only screen and (min-width: 991px) {
  .select-track .select-options .select-option.selected .track-item a {
    font-weight: inherit;
  }
}

.select-track .select-options .select-option:hover {
  background-color: transparent;
}

.select-track .select-options .select-option a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

@media only screen and (min-width: 991px) {
  .select-track .select-options .select-option a {
    font-weight: inherit;
  }
}

.s-case {
  padding: 80px 0 105px;
}

@media only screen and (max-width: 767px) {
  .s-case {
    padding: 60px 0 105px;
  }
}

.accordion-arrow {
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin-left: 10px;
}

.accordion-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 127%;
  color: #2A2A86;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  padding: 25px 20px;
  border-top: 1px solid #D4D4E7;
}

@media only screen and (max-width: 767px) {
  .accordion-title {
    padding: 25px 0;
  }
}

.accordion-title:hover {
  opacity: 0.6;
}

.accordion-item {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.accordion-item .accordion-content {
  display: none;
}

.accordion-item.accordion-active .accordion-arrow {
  transform: rotate(90deg);
}

.lists-top-text {
  max-width: 960px;
  width: 100%;
  margin: 0 auto 80px;
  font-size: 28px;
  line-height: 150%;
  color: #000000;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .lists-top-text {
    font-size: 18px;
    margin-bottom: 60px;
  }
}

.lists-top-text p {
  margin-bottom: 0;
}

.post-top-text {
  font-size: 22px;
  line-height: 145.4545454545%;
  color: #000000;
  max-width: 1090px;
  width: 100%;
  margin: 0 auto 60px;
}

@media only screen and (max-width: 1660px) {
  .post-top-text {
    max-width: 730px;
  }
}

@media only screen and (max-width: 767px) {
  .post-top-text {
    font-size: 18px;
  }
}

.post-top-text p {
  margin-bottom: 0;
}

.article-lists {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
}

.article-list-item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 22px;
  line-height: 127.2727272727%;
  color: #2A2A86;
  padding: 35px 20px 35px 0;
  border-top: 1px solid #D4D4E7;
}

@media only screen and (max-width: 767px) {
  .article-list-item a {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-right: 0;
  }
}

.article-list-item a:hover {
  opacity: 0.6;
}

.article-list-item a:hover .article-list-item__arrow {
  -webkit-animation: arrowMove 1s forwards infinite;
          animation: arrowMove 1s forwards infinite;
}

.article-list-item__arrow {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

@media only screen and (max-width: 767px) {
  .article-list-item__arrow {
    width: 100%;
    justify-content: flex-end;
    margin-top: 30px;
    margin-left: 0;
  }
}

.useful-links {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
}

.ulink-item {
  display: flex;
  align-items: stretch;
  background: #FFFFFF;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin-bottom: 30px;
}

@media only screen and (max-width: 991px) {
  .ulink-item {
    flex-direction: column;
  }
}

.ulink-item:hover {
  box-shadow: 0 6px 48px rgba(0, 0, 0, 0.1);
}

.ulink-item:hover .ulink-item__left img {
  transform: scale(1.5);
}

.ulink-item:hover .ulink-item__arrow {
  -webkit-animation: arrowMove 1s forwards infinite;
          animation: arrowMove 1s forwards infinite;
}

.ulink-item__left {
  flex: 0 0 530px;
  position: relative;
  display: flex;
  align-items: center;
  min-height: 250px;
  overflow: hidden;
}

@media only screen and (max-width: 1660px) {
  .ulink-item__left {
    flex: 0 0 350px;
  }
}

@media only screen and (max-width: 991px) {
  .ulink-item__left {
    flex: none;
    width: 100%;
    min-height: 290px;
  }
}

.ulink-item__left img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: 0.3s;
}

.ulink-item__right {
  flex: 1;
  padding: 30px;
  font-size: 16px;
  line-height: 187.5%;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ulink-item__text p {
  margin-bottom: 0;
}

.ulink-item__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

@media only screen and (max-width: 991px) {
  .ulink-item__bottom {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .ulink-item__bottom {
    flex-direction: column;
    margin-top: 40px;
    align-items: flex-start;
  }
}

.ulink-item__bottom span {
  font-weight: 700;
  font-size: 18px;
  line-height: 116.6666666667%;
  color: #2A2A86;
  margin-right: 10px;
}

@media only screen and (max-width: 767px) {
  .ulink-item__bottom span {
    margin-right: 0;
  }
}

.ulink-item__arrow {
  display: flex;
  align-items: center;
  min-width: 100px;
}

@media only screen and (max-width: 767px) {
  .ulink-item__arrow {
    justify-content: flex-end;
    margin-top: 50px;
    width: 100%;
  }
}

.doc-lists {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
}

.doc-list-item {
  position: relative;
}

.doc-list-item .download:hover {
  opacity: 0.6;
}

.doc-list-item .download-file {
  padding: 0;
  border: none;
}

.doc-list-item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 86px 25px 20px;
  border-top: 1px solid #D4D4E7;
}

@media only screen and (max-width: 991px) {
  .doc-list-item a {
    align-items: flex-start;
  }
}

@media only screen and (max-width: 767px) {
  .doc-list-item a {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0;
  }
}

.doc-list-item a:hover .doc-list-item__left {
  opacity: 0.6;
}

.doc-list-item a:hover .visibility {
  opacity: 0.6;
}

.doc-list-item__left {
  display: flex;
  align-items: center;
  margin-right: 10px;
  transition: 0.3s;
}

@media only screen and (max-width: 991px) {
  .doc-list-item__left {
    align-items: flex-start;
  }
}

@media only screen and (max-width: 767px) {
  .doc-list-item__left {
    width: 100%;
    margin-right: 0;
  }
}

.doc-list-item__icon {
  display: flex;
  align-items: center;
  min-width: 43px;
  margin-right: 20px;
}

@media only screen and (max-width: 767px) {
  .doc-list-item__icon {
    margin-right: 15px;
  }
}

.doc-list-item__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 127.2727272727%;
  color: #2A2A86;
}

.doc-list-item__right {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .doc-list-item__right {
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
    padding-right: 55px;
  }
}

.doc-list-item__action {
  transition: 0.3s;
  width: 32px;
  height: 32px;
  min-width: 32px;
  margin-left: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.doc-list-item__action.download {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .doc-list-item__action.download {
    transform: none;
    top: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .doc-list-item__action.download {
    top: auto;
    bottom: 25px;
    right: 0;
  }
}

.s-bottom-info {
  background: #EDEDED;
  border-top: 10px solid #2A2A86;
  padding: 51px 0;
}

@media only screen and (max-width: 374px) {
  .s-bottom-info {
    padding: 35px 0;
  }
}

.s-bottom-info .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-bottom-info__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #000000;
  margin-right: 10px;
  flex: 1;
}

@media only screen and (max-width: 767px) {
  .s-bottom-info__link {
    width: 75px;
  }
}

.s-bottom-info a:hover {
  opacity: 0.6;
}

.footer {
  background-color: #2A2A86;
}

.footer a {
  color: #ffffff;
  font-size: 15px;
  line-height: 120%;
  display: inline-block;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .footer a {
    font-size: 12px;
  }
}

.footer a:hover {
  opacity: 0.6;
}

.footer__top {
  padding: 60px 0 30px;
  border-bottom: 1px solid #8787BB;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media only screen and (max-width: 767px) {
  .footer__top {
    padding: 40px 0 30px;
  }
}

.footer__contacts p {
  font-weight: 700;
  font-size: 18px;
  line-height: 116.6666666667%;
  color: #FFFFFF;
}

.footer__contacts a {
  display: inline-block;
}

.footer__contacts-item {
  margin-bottom: 8px;
}

@media only screen and (max-width: 767px) {
  .footer__contacts-item a {
    font-size: 13px;
  }
}

.footer__contacts-item:last-child {
  margin-bottom: 0;
}

.footer__bottom {
  padding: 30px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .footer__bottom {
    display: block;
  }
}

.footer__logo {
  max-width: 100px;
  margin-right: 15px;
}

@media only screen and (max-width: 767px) {
  .footer__logo {
    margin-bottom: 30px;
    max-width: 65px;
  }
}

@media only screen and (max-width: 374px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}

.footer__logo a {
  display: flex;
  align-items: center;
}

.footer__logo a:hover {
  opacity: 0.6;
}

.footer__bottom-right {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .footer__bottom-right {
    text-align: left;
  }
}

.footer__nav {
  margin-bottom: 14px;
}

.footer__nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
  .footer__nav ul {
    justify-content: flex-start;
  }
}

.footer__nav ul li {
  margin-left: 30px;
  position: relative;
}

.footer__nav ul li:first-child {
  margin-left: 0;
}

.footer__nav ul li:first-child::before {
  display: none;
}

.footer__nav ul li::before {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: calc(100% - 5px);
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
}

@media only screen and (max-width: 767px) {
  .footer__nav ul li a {
    font-size: 12px;
  }
}

.footer .developed {
  font-size: 15px;
  line-height: 120%;
  color: #FFFFFF;
  opacity: 0.5;
}

@media only screen and (max-width: 767px) {
  .footer .developed {
    font-size: 12px;
  }
}

.footer .developed:hover {
  opacity: 1;
}

.social-items {
  display: flex;
  align-items: center;
}

.social-items li {
  margin-left: 25px;
}

@media only screen and (max-width: 767px) {
  .social-items li {
    margin-left: 20px;
  }
}

.social-items li a {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .social-items li a {
    width: 24px;
    height: 24px;
  }
}

.social-items li a:hover {
  opacity: 0.6;
}

.copyright {
  font-size: 15px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 14px;
}

@media only screen and (max-width: 767px) {
  .copyright {
    font-size: 12px;
  }
}

@-webkit-keyframes arrowMove {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes arrowMove {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0);
  }
}

.ie .header {
  height: 140px;
}

.ie .s-top-intro {
  display: block;
  padding-top: 100px;
}

.ie .card-item.card-item-home .card-item__title {
  flex: none;
}

.ie .card-item {
  padding-bottom: 44px;
}

.ie .card-item__bottom {
  flex: none;
}

.ie .card-item__arrow {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.ie .tippy-box {
  background-color: #000;
}

.ie .post-sidebar.fixed {
  position: fixed;
  width: 320px;
}

.ie .post-sidebar.fixed + .post-content__right {
  padding-left: 420px;
}

.s-404 {
  padding: 204px 0 154px;
  text-align: center;
}

@media only screen and (max-width: 1660px) {
  .s-404 {
    padding: 80px 0;
  }
}

.s-404__title {
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  font-weight: 400;
}

.s-404__status {
  font-size: 200px;
  line-height: 42px;
  color: #2A2A86;
  margin: 180px 0;
  display: block;
}

@media only screen and (max-width: 767px) {
  .s-404__status {
    font-size: 150px;
    margin: 100px 0;
  }
}

.s-404__info {
  font-size: 28px;
  line-height: 42px;
  color: #000000;
}

@media only screen and (max-width: 767px) {
  .s-404__info {
    font-size: 22px;
    line-height: 28px;
  }
}

.s-404 a {
  color: #FAA61A;
}

.body-blackout {
  position: absolute;
  z-index: 1010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.body-blackout.is-blacked-out {
  display: block;
}

.popup-modal {
  max-width: 550px;
  width: 95%;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 45px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  z-index: 1011;
}

@media only screen and (max-width: 767px) {
  .popup-modal {
    padding: 40px 20px;
  }
}

.popup-modal.is--visible {
  opacity: 1;
  pointer-events: auto;
}

.popup-modal__close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.popup-share {
  max-width: 350px;
}

.popup-share__info {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
}

.popup-cookie {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  background-color: #2A2A86;
  color: #fff;
  z-index: 10;
  max-width: 100%;
  overflow-y: auto;
}

.popup-cookie.is--visible {
  display: block;
}

.popup-cookie__left,
.popup-cookie__right {
  width: calc(50% - 15px);
}

@media only screen and (max-width: 767px) {
  .popup-cookie__left,
  .popup-cookie__right {
    width: 100%;
  }
}

.popup-cookie .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .popup-cookie .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

.popup-cookie__title {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 500;
}

.popup-cookie__info {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  .popup-cookie__info {
    margin-bottom: 20px;
  }
}

.popup-cookie__info a {
  color: #2A2A86;
}

.popup-cookie__btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media only screen and (max-width: 767px) {
  .popup-cookie__btns {
    justify-content: center;
  }
}

.popup-cookie__btns .btn {
  margin-right: 10px;
  max-width: 165px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: #2A2A86;
}

.popup-cookie__btns .btn:last-child {
  margin-right: 0;
}

.word-break {
  word-break: break-all;
}

.lang-item a {
  font-size: 15px;
  line-height: 120%;
  color: #000000;
  cursor: pointer;
}

.post-content__right ul {
  list-style-type: disc !important;
  margin-left: 19px;
}

.post-content__right ul li {
  margin: 7px 0;
}

.business-area-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

@media only screen and (max-width: 1199px) {
  .business-area {
    max-width: calc(470px - 50px);
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .business-area {
    max-width: calc(420px - 80px);
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .business-area-wrap {
    display: block;
  }

  .business-area {
    margin: 15px auto;
  }
}

#select-country-icon img {
  max-width: 22px;
  max-height: 16px;
  width: 100%;
  height: 100%;
}

.search-button-count {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: grey;
}

.search-button-count:hover {
  cursor: pointer;
  color: #2A2A86;
}

